<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<title>人工审核页面</title>
<link rel="stylesheet" href="../../css/jquery-ui.css" media="screen" >
<link rel="stylesheet" href="../../css/style.css" media="screen" >
<script type="text/javascript" src="../../js/jquery-2.2.2.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/jquery-rest.js"></script>
<script type="text/javascript">
    /**
     * 初始化
     */
	$(function() {
		//按钮样式
	    $("button").button()
	      .click(function( event ) {
	        event.preventDefault();
	      });
	});	
</script>
</head>
<frameset cols="35%,*"  frameborder="no">
  <frame src="../manualAudit/manualAudit1.html" name="_top" >
  <frame src="../manualAudit/manualAudit2.html" name="_list">
</frameset>
<noframes>
<body>
</body></noframes>
</html>