<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" href="../../css/jquery-ui.css" media="screen" >
<link rel="stylesheet" href="../../css/style.css" media="screen" >
<script type="text/javascript" src="../../js/jquery-2.2.2.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/jquery-rest.js"></script>
<script type="text/javascript">
    /**
     * 初始化
     */
	$(function() {
		//按钮样式
	    $("button").button()
	      .click(function( event ) {
	        event.preventDefault();
	      });
	});	
	/**
     * 登录
     */
    function doLogin(){
    	var phone=$("#phone");
    	var pwd=$("#pwd");
    	if(phone.val()==""){
    		showError('对不起,手机号不能为空！');
    		return;
    	}
    	if(phone.val().length!=11){
    		showError('对不起,手机号长度不能超过或者低于11位,请重新输入！');
    		return;
    	}
    	if(pwd.val()==""){
    		showError('对不起,密码不能为空！');
    		return;
    	}
    	//隐藏错误提示
		hideError();
    	//执行登录操作
		$.restPost({
			 type:'post',
			 dataType: 'json',
			 url:'../../rest/realNameAuth/logon',
			 data:{'phone':phone.val(),'passwd':pwd.val()},
			 success:function(data){
			 }
		});
    }
    /**
     * 显示错误提示信息
     */
	function showError(content){
		var showError=$("#showError");
		showError.show();
		showError.html(content);
	}
	/**
     * 隐藏错误提示信息
     */
	function hideError(){
		var showError=$("#showError");
		showError.hide();
	}
	/**
     * 跳转至注册页面
     */
    function toRegister(){
    	window.location.href='../../rest/realNameAuth/toRegister';
    }
</script>
</head>
<body>
<table style="width:100%"  class="table_class">
	<tr >
		<td class="showError" align="center" >
			<div id="showError" class="showError_div"></div>
		</td>
	</tr>
	<tr>
		<td>用户名：<input id="phone" class="input" name="phone" type="text"/></td>
	</tr>
	<tr>
		<td>密&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="pwd" class="input" name="passwd" type="password"/></td>
	</tr>
	<tr >
		<td><button id="login" class="button"  onclick="doLogin()">登录</button>
	</tr>
	<tr>
		<td><button id="register" class="button"  onclick="toRegister()" ><a  href=""></a>注册</button>
	</tr>
	<tr>
		<td><a href="forgetPassword.html" class="retrieve" >忘记密码？</a></td>
	</tr>
</table>
</body>
</html>