<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" href="../../css/jquery-ui.css">
<link rel="stylesheet" href="../../css/style.css">
<script type="text/javascript" src="../../js/jquery-2.2.2.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/jquery-rest.js"></script>
<style type="text/css">
	#loading{opacity:0.4;filter:alpha(opacity=40);background:while;position:absolute;margin-left:-40px;margin-top:-20px;top:50%;left:50%;z-index:2000;width:100%;height:100%;background-color:g}
	.progressBar{width:190px;height:28px;position:fixed;top:50%;left:50%;margin-left:-50px;margin-top:-30px;padding: 10px 10px 10px 50px; text-align: left; line-height: 27px; font-weight: bold; position: absolute; z-index: 2001;  }
</style>
<script type="text/javascript">
	/**
	 * 初始化
	 */
	 var count;
	$(function() {
		//按钮样式
	    $("button").button()
	      .click(function( event ) {
	        event.preventDefault();
	      });
	});	 
	/**
     * 发送验证码
     */
	function doSendCode(){
		var phone = $("#phone");
		if(phone.val()==""){
			showError("对不起,手机号不能为空!");
			return;
		}
		//隐藏错误提示
		hideError();
		//发送验证码
		$.restPost({
			 type:'post',
			 contentType:'application/json;charset=utf-8',
			 dataType: 'json',
			 url:'../../rest/realNameAuth/sendCode',
			 data:{'phone':phone.val()},
			 success:function(data){
			 	var sendCode = $("#sendCode");
				if(null!=data){
					if(data.result.indexOf("success")!=-1){
						showError("短信已经发送至您的手机，请查收!");
						//停止按钮事件
						sendCode.attr("disabled","disabled");
						//改变按钮背景颜色
						sendCode.css('background','#B5B5B5');
						//调用倒计时
						count=121;
						countDown();
						$("#sign").val('');
					}else{
						showError(data.msg);
					}
					
				}
			 }
		});
	}
	/**
     * 确认
     */
	function doAffirm(){
		var phone = $("#phone");
		var code = $("#code");
		var sign = $("#sign");
		var successMessage="验证码将作为您的登录密码,请妥善保存或及时更改密码!";
		if(phone.val()==""){
			showError("对不起,手机号不能为空!");
			return;
		}
		if(code.val()==""){
			showError("对不起,验证码不能为空!");
			return;
		}
		if(sign.val()==1){
			showError("短信验证码已经失效,请重新获取!");
			return;
		}
		$("#loading").show();
		$("#progressBar").show();
		//执行确定操作
		$.restPost({
			 type:'post',
			 dataType: 'json',
			 url:'../../rest/realNameAuth/doRegister',
			 data:{'phone':phone.val(),'code':code.val()},
			 success:function(data){
				 $("#loading").hide();
				 $("#progressBar").hide();
				 var sendCode = $("#sendCode");
				 if(null!=data){
					 if(data.result.indexOf("success")!=-1){
						 window.location.href='../../view/checkMessage.html?phone='+data.result_phone;
					 }else{
						//停止按钮事件
						sendCode.removeAttr("disabled");
						//改变按钮背景颜色
						sendCode.css('background','#F6F6F6');
						$("#code").val(' ');
						showError(data.msg);
					 } 
				 }
			 }
		}); 
	}
	/**
     * 计数
     */
	function countDown(){
		var msg="";
		$("#showCount").show();
		if(count!=0){
			count--;
			msg="(请在"+count+"秒之内输入验证码)";
			$("#showCount").html(msg);
			//设置定时任务
			setTimeout(function(){countDown()},1000) 
		}else{
			var sendCode = $("#sendCode");
			//启动按钮事件
			sendCode.removeAttr("disabled");
			//恢复按钮可用颜色
			sendCode.css('background','#F6F6F6')
			//清空错误信息提示
			$("#showCount").html('');
			//设置失效标记
			$("#sign").val('1');
		}
	}
	/**
     * 显示错误提示信息
     */
	function showError(content){
		var showError=$("#showError");
		showError.show();
		showError.html(content);
	}
	/**
     * 隐藏错误提示信息
     */
	function hideError(){
		var showError=$("#showError");
		showError.hide();
	}
</script>
</head>
<body>
<div id="loading" style="display:none;" ><img alt="" src="../../images/loading.gif"></div> 
<div id="progressBar" class="progressBar" style="display:none;">数据加载中，请稍等...</div> 
<input id="sign" type="hidden"/>
<table  style="width:100%"  class="table_class" >
	<tr align="center">
		<td align="right" width="45%">手机号码：</td>
		<td align="left"><input id="phone" class="input" name="phone" type="text"/></td>
	</tr>
	<tr  align="center">
		<td colspan="2"><button  id="sendCode" class="button" onclick="doSendCode();">发送验证码</button></td>
	</tr>  
	<tr align="center">
		<td colspan="2"><span id="showCount"  class="showCount_class" ></span></td>
	</tr>
	<tr  align="center">
		<td align="right">验&nbsp;&nbsp;证&nbsp;&nbsp;码：</td>
		<td align="left"><input id="code" class="input" name="code" type="text"/></td>
	</tr>
	<tr  align="center">
		<td colspan="2"><button id="affirm" class="button" onclick="doAffirm();" >确认</button></td>
	</tr>
	<tr  align="center">
		<td class="showError" align="center" colspan="2" >
			<div id="showError" class="showError_div"></div>
		</td>
	</tr>
</table>
</body>
</html>