<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<title>信息核对</title>
<link rel="stylesheet" href="../../css/jquery-ui.css">
<link rel="stylesheet" href="../../css/style.css">
<script type="text/javascript" src="../../js/jquery-2.2.2.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript">
	/**
	 * 初始化
	 */
	$(function() {
		$("#phone").val(getQueryString("phone"))
		//按钮样式
	    $("#button").button()
	      .click(function( event ) {
	        event.preventDefault();
	      });
	});
	/**
     * 提交
     */
	function doSubmit(){
		var cardId=$("#cardId");
		var name=$("#name");
		if(cardId.val()==""){
			showError("对不起,身份证号不能为空!");
			return;
		}
		//验证身份证
		var re = new RegExp(/^\d{15}(\d{2}[A-Za-z0-9])?$/); 
		var result=cardId.val().match(re);
		if(result==null){
			showError("对不起,请输入正确的身份证号!");
			return;
		}
		if(name.val()==""){
			showError("对不起,姓名不能为空!");
			return;
		}
		//隐藏错误提示
		hideError();
		$("#checkMessage").submit();
	}
	/**
     * 显示错误提示信息
     */
	function showError(content){
		var showError=$("#showError");
		showError.show();
		showError.html(content);
	}
	/**
     * 隐藏错误提示信息
     */
	function hideError(){
		var showError=$("#showError");
		showError.hide();
	}
	function getQueryString(name) {
	    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
	    var r = window.location.search.substr(1).match(reg);
	    if (r != null) return unescape(r[2]); return null;
    }
</script>
</head>
<body>
<form id="checkMessage" action="../rest/realNameAuth/doCheckMessage" method="post" enctype="multipart/form-data">
<input id="phone" name="phone" type="hidden">
<table  style="width:100%"   class="table_class">
	<tr align="center">
		<td align="right" width="45%">身份证照片：</td>
		<td align="left"><input id="file"  class="file_class" name="file_1"  type="file"></td>
	</tr>
	<tr align="center">
		<td align="right">照片：</td>
		<td align="left" ><input id="file"  class="file_class" name="file_2"  type="file"></td>
	</tr>
	<tr align="center">
		<td align="right">身份证号：</td>
		<td align="left" ><input id="cardId" class="input" name="cardId" type="text"/></td>
	</tr>
	<tr align="center">
		<td align="right">姓名：</td>
		<td align="left" style="font-family:‘Times New Roman‘;"><input id="name" class="input" name="name" type="text"/></td>
	</tr>
	<tr align="center">
		<td colspan="2"><input id="button" class="button" type="button" value="提交" onclick="doSubmit()"></td>
	</tr>
	<tr>
		<td class="showError" align="center"  colspan="2">
			<div id="showError" class="showError_div"></div> 
		</td>
	</tr>
</table>
</form>
</body>
</html>