<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>申报信息展示</title>
</head>
<body>
<table style="width:100%;height:auto;"  class="table_class">
	<tr>
		<td>办件编号：</td>
		<td></td>
	</tr>
	<tr>
		<td>事项名称：</td>
		<td></td>
	</tr>
	<tr>
		<td>办理部门：</td>
		<td></td>
	</tr>
	<tr>
		<td>申请人：</td>
		<td></td>
	</tr>
	<tr>
		<td>申请方式：</td>
		<td></td>
	</tr><tr>
		<td>办理人：</td>
		<td></td>
	</tr>
	<tr>
		<td>受理时间：</td>
		<td></td>
	</tr>
	<tr>
		<td>办理进度：</td>
		<td></td>
	</tr>
	<tr>
		<td>办件结果：</td>
		<td></td>
	</tr>
</table>
</body>
</html>